:root{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.master-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image {
  width: 50%;
  height: auto;
}

.name {
  font-size: 5vw;
}
.span {
  display: flex;
}
